<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SO_FACT</display-name>
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>rc.so.servlets.Query</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>rc.so.servlets.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>rc.so.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operations</servlet-name>
        <servlet-class>rc.so.servlets.Operations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindoViewer</servlet-name>
        <servlet-class>rc.so.servlets.FindoViewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operations</servlet-name>
        <url-pattern>/Operations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindoViewer</servlet-name>
        <url-pattern>/FindoViewer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/500.jsp</location>
    </error-page>
</web-app>
